<h1> Condition: <%= @condition.id %></h1>

<section>
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Max. Temperature (f)</th>
      <th>Avg. Temperature (f)</th>
      <th>Min. Temperature (f)</th>
      <th>Avg. Humidity</th>
      <th>Avg. Visibility (Miles)</th>
      <th>Avg. Wind Speed (Mph)</th>
      <th>Precipitation (Inches)</th>
      <th>Zip Code</th>
    </tr>
      <tr>
        <td><%= @condition.date %></td>
        <td><%= @condition.max_temperature_f %></td>
        <td><%= @condition.mean_temperature_f %></td>
        <td><%= @condition.min_temperature_f %></td>
        <td><%= @condition.mean_humidity %></td>
        <td><%= @condition.mean_visibility_miles %></td>
        <td><%= @condition.mean_wind_speed_mph %></td>
        <td><%= @condition.precipitation_inches%></td>
        <td><%= @condition.zip_code%></td>
        <% if current_admin? %>
          <%= button_to 'Edit', edit_admin_condition_path(@condition), method: :get %>
          <%= button_to 'Delete', admin_condition_path(@condition), method: :delete %>
        <% end %>
      </tr>
  </table>
</section>
