<div class="container">
  <section class="hero is-small is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1 has-text-centered has-text-weight-bold">Condition: <%= @condition.id %></h1>
      </div>
    </div>
  </section>

<br>

<section>
  <table class="table">
    <tr>
      <th>Attributes</th>
      <th>Data</th>
    </tr>
    <tr>
      <th>Date</th>
      <th><%= @condition.date %></th>
    </tr>
    <tr>
      <th>Max. Temperature (f)</th>
      <th><%= @condition.max_temperature_f %></th>
    </tr>
    <tr>
      <th>Avg. Temperature (f)</th>
      <th><%= @condition.mean_temperature_f %></th>
    </tr>
    <tr>
      <th>Min. Temperature (f)</th>
      <th><%= @condition.min_temperature_f %></th>
    </tr>
    <tr>
      <th>Avg. Humidity</th>
      <th><%= @condition.mean_humidity %></th>
    </tr>
    <tr>
      <th>Avg. Visibility (Miles)</th>
      <th><%= @condition.mean_visibility_miles %></th>
    </tr>
    <tr>
      <th>Avg. Wind Speed (Mph)</th>
      <th><%= @condition.mean_wind_speed_mph %></th>
    </tr>
    <tr>
      <th>Precipitation (Inches)</th>
      <th><%= @condition.precipitation_inches%></th>
    </tr>
    <tr>
      <th>Zip Code</th>
      <th><%= @condition.zip_code%></th>
    </tr>
        <% if current_admin? %>
          <%= button_to 'Edit', edit_admin_condition_path(@condition), method: :get %>
          <%= button_to 'Delete', admin_condition_path(@condition), method: :delete %>
        <% end %>
      </tr>
  </table>
</section>

</div>
