Average duration of a ride : <%=  @trips.average_duration_trip.round(1) %> seconds<br><br>

Longest ride : <%= @trips.longest_ride.id %> seconds<br><br>

Shortest ride : <%= @trips.shortest_ride.id %> seconds<br><br>

Station with most rides originating: <%= @station_with_most_rides_originating.name %><br>
Station with most rides ending: <%= @station_with_most_rides_ending.name %><br><br>

Yearly Breakdown: <br>
            <% time = @trips_by_year.sort_by do |year| %>
              <% year %>
            <% end.reverse %>
            <% time.each do |year| %>
              <%= "Total rides for #{year[0].year}: #{year[1]}" %><br>
            <% end %><br><br>


Monthly Breakdown:<br>
            <% time = @trips_by_month.sort_by do |month| %>
              <% month %>
            <% end.reverse %>
            <% time.each do |month| %>
              <%= "Total rides for #{month[0].strftime('%b %Y')}: #{month[1]}" %><br>
            <% end %><br><br>

The ID of the most ridden bike is <%= @most_ridden_bike %>, with <%= @most_bike_rides %> number of rides <br>
The ID of the least ridden bike is <%= @least_ridden_bike %>, with <%= @least_bike_rides %> number of rides<br><br>
<% @subscription_type_by_count.each do |trip| %>
  Subscription Type - <%= trip.subscription_type %>, <%= trip.subscription_type_count %>, <%= ((trip.subscription_type_count.to_f / @trips.size.to_f) * 100).round(1) %>%
<% end %><br><br>

Date with most trips: <%= @most_trips_date.month %>/<%= @most_trips_date.day %>/<%= @most_trips_date.year %>, total number of trips: <%= @date_trips_most %> <br>
  <% if @date_most_weather.nil? %>
  <p>No data for the weather conditions on this date</p>
  <% else %>
Max temp: <%= @date_most_weather.max_temperature_f %><br>
Mean temp: <%= @date_most_weather.min_temperature_f %><br>
Min temp: <%= @date_most_weather.mean_temperature_f %><br>
Mean visibility (miles): <%= @date_most_weather.mean_visibility_miles %><br>
Mean wind speed (mph): <%= @date_most_weather.mean_wind_speed_mph %><br>
Precipitation (inches): <%= @date_most_weather.precipitation_inches %><br>
Mean humidity: <%= @date_most_weather.mean_humidity %><br><br>
<% end %>

Date with least trips: <%= @least_trips_date.month %>/<%= @least_trips_date.day %>/<%= @least_trips_date.year %>, total number of trips: <%= @date_trips_least %>
Weather Conditions on the day with the most trips
<% if @date_least_weather.nil? %>
<p>No data for the weather conditions on this date</p>
<% else %>
Max temp: <%= @date_least_weather.max_temperature_f %><br>
Mean temp: <%= @date_least_weather.min_temperature_f %><br>
Min temp: <%= @date_least_weather.mean_temperature_f %><br>
Mean visibility (miles): <%= @date_least_weather.mean_visibility_miles %><br>
Mean wind speed (mph): <%= @date_least_weather.mean_wind_speed_mph %><br>
Precipitation (inches): <%= @date_least_weather.precipitation_inches %><br>
Mean humidity: <%= @date_least_weather.mean_humidity %><br><br>
<% end %>
