<div class="container">
  <section class="hero is-small is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1 has-text-centered has-text-weight-bold">
          Trip <%= @trip.id %>
        </h1>
        <h2 class="title is-size-2 has-text-centered has-text-weight-bold">
          <%= @trip.duration / 60 %> Minutes
        </h2>
        <h3 class="title is-size-2 has-text-centered has-text-weight-bold">
          Bike: <%= @trip.bike_id %>
        </h3>
        <div class="level">
          <% if current_admin? %>
          <div class="level-item">
            <p><%= button_to "Edit", edit_admin_trip_path(@trip), class: "button is-info is-inverted is-medium" %></p>
          </div>
          <% end %>
          <div class="level-item has-text-centered">
            <p class="subtitle is-5">
              Subscription Type: <%= @trip.subscription_type %>
            </p>
          </div>
          <div class="level-item has-text-centered">
            <p class="subtitle is-5">
              Zip Code: <%= @trip.zip_code %>
            </p>
          </div>
          <% if current_admin? %>
          <div class="level-item">
           <p><%= button_to "Delete", admin_trip_path(@trip), method: :delete, class: "button is-danger is-inverted is-medium" %></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <br>
  <div class="tile is-ancestor">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child has-text-centered notification is-success">
          <p class="title">Start Station</p>
          <p class="subtitle">Name: <%= @trip.start_station_name %></p>
          <p class="subtitle">Date: <%= @trip.start_date %></p>
          <p class="subtitle">ID: <%= @trip.start_station_id %></p>
        </article>
        <br>
        <article class="tile is-child has-text-centered notification is-danger">
          <p class="title">End Station</p>
          <p class="subtitle">Name: <%= @trip.end_station_name %></p>
          <p class="subtitle">Date: <%= @trip.end_date %></p>
          <p class="subtitle">ID: <%= @trip.end_station_id %></p>
        </article>
      </div>
    </div>
  </div>
</div>

