<table class="table-items-admin">
  <thead>
    <th>Image<th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Status</th>
  </thead>

  <tbody>
  <% @items.each do |item| %>
      <tr id="item-<%= item.id %>">
        <td><%= image_tag (item.image) %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.status %></td>
        <td><%= button_to 'Edit', admin_item_path(item), method: :get %></td>
        <td><%= button_to 'Retire', admin_bike_shop_path(item), method: :post %></td>
        <td><%= button_to 'Reactivate', admin_bike_shop_path(item), method: :post %></td>

      </tr>
    <% end %>
  </tbody>
