<table class="table-items-admin">
  <thead>
    <th>Image<th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Status</th>
  </thead>

  <tbody>
  <% @items.each do |item| %>
      <tr id="item-<%= item.id %>">
        <td><%= image_tag (item.image) %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.status %></td>
      </tr>
    <% end %>
  </tbody>
