<table class="table table-items-admin">
  <thead>
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Status</th>
  </thead>

  <tbody>
  <% @items.each do |item| %>
      <tr id="item-<%= item.id %>">
        <td><%= link_to image_tag("#{item.image}", size: "52x52"), item_path(item) %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= item.status %></td>
        <td><%= button_to 'Edit', admin_item_path(item), method: :get, class: 'button is-small is-info' %></td>

        <% if item.status == 'active' %>
          <td>
            <%= form_for [:admin, item] do |f| %>
            <%= f.hidden_field :status, :value=>"retired" %>
            <%= f.submit "Retire", class: 'button is-small is-danger'%>
            <% end %>
          </td>
        <% else %>
          <td>
            <%= form_for [:admin, item] do |f| %>
            <%= f.hidden_field :status, :value=>"active" %>
            <%= f.submit "Reactivate", class: 'button is-small is-success' %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
