<div class="container">
  <section class="hero is-small is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1 has-text-centered has-text-weight-bold">Stations</h1>
      </div>
    </div>
    <div class="has-text-centered">
      <%= button_to "Create Station", new_admin_station_path, class: "button is-large is-inverted is-bordered is-success", method: :get %>
    </div>
  </section>
  <br>
  <br>
  <div>
    <%= will_paginate %>
    <br>
    <table class="table is-bordered is-striped">
      <thead>
        <th>Name</th>
        <th>Dock Count</th>
        <th>City</th>
        <th>Installation Date</th>
      </thead>

      <tbody>
        <% @stations.each do |station| %>
            <tr id="station-<%= station.id %>">
              <td><%= link_to "#{station.name}", station_path(station) %></td>
              <td><%= station.dock_count %></td>
              <td><%= station.city %></td>
              <td><%= station.installation_date %></td>
              <td><%= button_to  "Edit", edit_admin_station_path(station.id), method: :get %></td>
              <td><%= button_to  "Delete", admin_station_path(station.id), method: :delete %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
