<table class='table'>
  <tr>
    <th>Name</th>
    <th>Dock Count</th>
    <th>City</th>
    <th>Installation Date</th>
  </tr>
  <tr>
    <td><%= @station.name %></td>
    <td><%= @station.dock_count %></td>
    <td><%= @station.city %></td>
    <td><%= @station.installation_date %></td>
    <% if current_admin? %>
    <td><%= button_to  "Edit", edit_admin_station_path(@station.id), method: :get %></td>
    <td><%= button_to  "Delete", admin_station_path(@station), method: :delete %></td>
    <% end %>
  </tr>
</table>
<table class="table">
  <thead>
    <th>Analysis</th>
  </thead>
  <tbody>
    <tr>
      <td>Trips started at this station</td>
      <td><%= @station.trips_started_at.length %></td>
    </tr>
    <tr>
      <td>Trips ended at this station</td>
      <td><%= @station.trips_ended_at.length %></td>
    </tr>
    <tr>
      <td>Most frequent destination station from here</td>
      <% if @station.trips_ended_at.empty? %>
        <td>None</td>
      <% else %>
        <td><%= @station.most_frequent_origin.name %></td>
      <% end %>
    </tr>
    <tr>
      <td>Most frequent origin station to here</td>
      <% if @station.trips_started_at.empty? %>
        <td>None</td>
      <% else %>
        <td><%= @station.most_frequent_destination.name %></td>
      <% end %>
    </tr>
    <tr>
      <td>Date with the highest number of trips started here</td>
      <% if @station.trips_started_at.empty? %>
        <td>None</td>
      <% else %>
        <td><%= @station.most_popular_date %></td>
      <% end %>
    </tr>
    <tr>
      <td>Most Frequent Zip Code</td>
      <% if @station.trips_started_at.empty? %>
        <td>None</td>
      <% else %>
        <td><%= @station.most_frequent_origin_zip_code %></td>
      <% end %>
    </tr>
    <tr>
      <td>ID of bike most frequently starting trips here</td>
      <td><%= @station.most_frequent_origin_bike_id %></td>
    </tr>
  </tbody>
</table>
