<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Stations Dashboard
      </h1>
      <h2 class="subtitle">
        Analysis for all stations in the BikeShare network
      </h2>
    </div>
  </div>
</section>
<section class="container">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="title">Station Chronology</p>
        <p class="subtitle">Newest station : <%= @stations.newest_installation %><br>
                            Oldest station : <%= @stations.oldest_installation %></p>
       
        <figure class="media-left">
          <p class="image">
            <%= image_tag  "station.jpg" %>
          </p>
        </figure>
        
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="title">Counts</p>
        <p class="subtitle">Total count of stations : <%= @stations.total_count %></p>
        <p class="subtitle">Average bikes available per station : <%= @stations.average_bike_per_station.round(2) %></p>
        <p class="subtitle">Most bikes available at a station : <%= @stations.most_bikes_at_station %></p>
        <table class="table">
          <thead>
          <tr>
            <th>
              Station(s) with most bikes 
            </th>
          </tr>
          </thead>
          <tbody>
            <% @stations.stations_name_most_bikes.each do |station| %>
              <tr>
                <td>
                  <%= link_to station.name, station_path(station) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <p class="subtitle">Fewest bikes available at a station : <%= @stations.fewest_bikes_at_station %></p>
        <table class="table">
          <thead>
            <tr>
              <th>
                Station(s) with fewest bikes
              </th>
            </tr>
          </thead>
          <tbody>
            <% @stations.stations_name_fewest_bikes.each do |station| %>
              <tr>
                <td>
                  <%= link_to station.name, station_path(station) %>
                </td>
              </tr>
            <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</section>