<div class="container has-text-centered">
  <div class="column is-4 is-offset-4">
    <div class="box">
      <%= form_for @user do |f| %>
        <div class="field">
          <div class="control">
            <%= f.label :user_name %>
              <%= f.text_field :user_name, class: "input is-small", placeholder: "User Name" %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.label :first_name %>
              <%= f.text_field :first_name, class: "input is-small", placeholder: "First Name" %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.label :last_name %>
              <%= f.text_field :last_name, class: "input is-small", placeholder: "Last Name" %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.label :street_address %>
              <%= f.text_field :street_address, class: "input is-small", placeholder: "Street Address" %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.label :city %>
              <%= f.text_field :city, class: "input is-small", placeholder: "City" %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.label :state %>
              <%= f.text_field :state, class: "input is-small", placeholder: "State" %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.label :zip %>
              <%= f.number_field :zip, class: "input is-small", placeholder: "Zip Code" %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.label :password %>
              <%= f.password_field :password, class: "input is-small", placeholder: "Password" %>
          </div>
        </div>
        <%= f.submit class: "button is-block is-info is-small is-fullwidth" %>
          <% end %>
    </div>
  </div>
</div>