
<div class="container">
  <div class="columns is-variable is-3 is-multiline">
    <div class="column is-12"></div>
      <% @items.each do |item| %>
        <div  class="column box is-2" id="item-<%= item.id %>">
          <h1 class='title is-4'>
            <%= link_to  item.title, item_path(item) %>
          </h1>
          <div class="image is-128x128">
            <%= image_tag(item.image) %>
          </div>
          <h1 class='subtitle'>
            <%= item.description %>
          </h1>
          <h1 class='subtitle'>
            <%= number_to_currency(item.price) %>
          </h1>
          <%= button_to 'Add to Cart', carts_path(item_id: item.id), class: 'button is-info' %>
        </div>
      <% end %>
    </div>
  </div>