<% @items.each do |item| %>
  <div id="item-<%= item.id %>">
    <%= image_tag(item.image) %>
      <h1 class='title'>
        <%= link_to  item.title, item_path(item) %>
      </h1>
      <h1 class='subtitle'>
        <%= item.description %>
      </h1>
      <h1 class='subtitle'>
        <%= item.price %>
      </h1>
      <% if item.status != 'retired' %>
        <%= button_to 'Add to Cart', carts_path(item_id: item.id) %>
      <% else %>
        <a class="button" title="Disabled button" disabled>Accessory Retired</a>
      <% end %>
  </div>
  <% end %>
