<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= root_path %>" style="font-weight:bold;">
      BikeShare
      </a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'Stations', '#', class: 'navbar-item' %>
        <%= link_to 'Trips', trips_path, class: 'navbar-item' %>
        <%= link_to 'Accessories', '#', class: 'navbar-item' %>

    </div>
      <div class="navbar-end">
        <% if current_user %>
          <a class='navbar-item'>
            Logged in as <%= current_user.user_name %>
          </a>
        <% end %>

          <%= link_to 'Log Out', '#', class: 'navbar-item'%>

          <%= link_to 'Sign Up', '#', class: 'navbar-item'%>
          <%= link_to 'Log In', login_path, class: 'navbar-item'%>

      </div>
    </div>
  </div>
</nav>
<script type="text/javascript">
(function() {
  var burger = document.querySelector('.burger');
  var nav = document.querySelector('#'+burger.dataset.target);

  burger.addEventListener('click', function(){
    burger.classList.toggle('is-active');
    nav.classList.toggle('is-active');
  });
})();
</script>
